.dialogs {
  grid-area: dialogs;
  /*display: grid;*/
  grid-template-areas:
  'header header header'
  'navbar dialogs dialogs';
}

@media (max-width: 640px){
  .app {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    'header header'
    'navbar navbar'
    'dialogs dialogs';
  }
}